<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand"><b>Arunai Engineering College</b></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
<i class="fa fa-bars"></i>
</button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div ng-show="vm.authentication.user" class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav" ng-if="vm.adminMenu.shouldRender(vm.authentication.user);">
                <li ng-repeat="item in vm.adminMenu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type"
                    ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
                    <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                            <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
                        </li>
                    </ul>
                    <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
        <div ng-hide="vm.authentication.user" class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
                <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type"
                    ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
                    <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                            <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
                        </li>
                    </ul>
                    <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li ng-hide="vm.authentication.user" ui-sref-active="active"><a ui-sref="authentication.signin">Sign In</a></li>
                <li ng-show="vm.authentication.user" class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/{{vm.authentication.user.profileImageURL}}" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{vm.authentication.user.displayName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="/{{vm.authentication.user.profileImageURL}}" class="img-circle" alt="User Image">
                        <p>
                        {{vm.authentication.user.displayName}}
                        <small>{{vm.authentication.user.department.name}}</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                        </div>
                        <div class="pull-right">
                            <a href="/api/auth/signout" target="_self" class="btn btn-default">Signout</a>
                        </div>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
</nav>

