<div class="row">
  <div class="col-md-7">
    <div class="widget">
      <div class="widget-title">
        Welcome to Arunai Engineering College!
      </div>
      <div class="widget-content">
        <img src="/modules/core/client/img/dummy/1.jpg" class="widget-featured-image" />
        <p>A rapidly changing world is one of the biggest challenges facing today’s graduates. New technologies, new working practices and changes in tastes and fashions require graduates who are equipped with flexible attitudes. AEC provides students with the skills to succeed. AEC, a Co-Educational institution was established in the year 1993. The college is spread out on serene sylvan settings on the Chittor – Cuddalore national highway, providing a holistic environment, ideal for dedicated study with discipline, away from the hustle...</p>
        <div>
          <a class="btn btn-primary" href="/pages/welcome-to-aec">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="widget">
      <div class="widget-title">
        News &amp; Happenings
      </div>
      <div class="widget-content">
        <ul>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="widget">
      <div class="widget-title">
        Sports
      </div>
      <div class="widget-content">
        <ul>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="widget">
      <div class="widget-title">
        Infrastructure
      </div>
      <div class="widget-content">
        <ul>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
          <li><a href="#">Some event news to be updated and shown here.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>