<div class="content-header">
    <h1>Add Students</h1>
</div>
<section class="content body">
    <form name="vm.addForm" ng-submit="vm.uploadStudentsData()" novalidate>
        <fieldset>
            <div class="form-group" show-errors>
                <label for="csvFile">Select a CSV file</label>
                <input type="file" nv-file-select uploader="vm.uploader" id="csvFile" name="csvFile" class="form-control" ng-model="vm.csvFile" required>
                <div ng-messages="vm.addForm.csvFile.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">CSV file is required.</p>
                </div>
            </div>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-success">Add Students</button>
            </div>
        </fieldset>
    </form>
</section>