.header-wrap {
    background-color: #3d4e5b;
    width: 100%;
    color: #fff;
    .site-header {
        background-image: -webkit-linear-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
        background-image: -moz-linear-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
        background-image: -o-linear-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
        background-image: linear-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
        border: 1px solid rgba(255,255,255,0.1);
        border-left-width: 0;
        border-right-width: 0;
        padding: 2em 0;
    }
    a {
        color: #fff;
    }
    .navbar {
        clear: both;
        height: 50px;
        margin: 0;

        & > div {
            padding: 0;
            margin: 0;
        }

        .nav .open > a {
            background: none;
            border: 0;
        }

        ul.nav > li {
            background-color: transparent;
            border: 0;
            border-radius: 3px;
            margin: 9px 3px;

            &.active, &:hover, &:active, &.open {
                background-color: #384550;
                border-bottom: 1px solid rgba(255,255,255,0.2);
                box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;
                & > a {
                    background: none;
                    color: #fff;
                }
            }

            & > a {
                border-radius: 3px;
                font-family: Crete Round, Arial, Helvetica, sans-serif;
                font-size: 1.1em;
                line-height: 2.2em;
                padding: 0 12px;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
            }
        }
    }
}