body {
    background: #fff;
    color: #444;
    letter-spacing: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.wrapper {
    min-height: 100%;
}