<div class="content-header">
  <h1>Courses
  <small ng-if="vm.courses.$resolved && !vm.courses.length" class="pull-right">
    <a ui-sref="admin.courses.create" class="btn btn-xs btn-primary">Create a course</a>
  </small></h1>
</div>
<section class="content body">
  <ul class="list-group">
    <li ng-repeat="course in vm.courses"
       class="list-group-item">
      <h4 class="list-group-item-heading">
        {{ course.name }}
        <div class="btn-group btn-xs pull-right">
          <a class="btn btn-primary"
            ui-sref="admin.courses.edit({ courseId: course._id })">
            <i class="glyphicon glyphicon-edit"></i> Edit
          </a>
        </div>
      </h4>
      <div class="list-group-item-content">
          <span class="label label-primary">Code: {{ course.code }}</span>
          <span class="label label-primary">Semester: {{ course.semester }}</span>
          <span class="label label-primary">Department: {{ course.department.name }}</span>
      </div>
    </li>
  </ul>
</section>
