<section>
  <div class="page-header">
    <h1>Slides</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="slide in vm.slides"
       ui-sref="slides.view({ slideId: slide._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="slide.created | date:'mediumDate'"></span>
        by
        <span ng-if="slide.user" ng-bind="slide.user.displayName"></span>
        <span ng-if="!slide.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="slide.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.slides.$resolved && !vm.slides.length">
    No Slides yet, why don't you <a ui-sref="slides.create">create one</a>?
  </div>
</section>
