<div class="content-header">
  <h1>{{vm.attendance._id ? 'Edit Attendance' : 'New Attendance'}}</h1>
</div>
<section class="content body">
  <form name="vm.form.attendanceForm" ng-submit="vm.save(vm.form.attendanceForm.$valid)" novalidate>
    <fieldset>
      <div class="form-group" show-errors>
        <label class="control-label" for="name">Name</label>
        <input name="name" type="text" ng-model="vm.attendance.name" id="name" class="form-control" placeholder="Name" required>
        <div ng-messages="vm.form.attendanceForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Attendance name is required.</p>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label class="control-label" for="code">Code</label>
        <input name="code" type="text" ng-model="vm.attendance.code" id="code" class="form-control" placeholder="Code" required>
        <div ng-messages="vm.form.attendanceForm.code.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Attendance code is required.</p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">{{vm.attendance._id ? 'Update' : 'Add'}} Attendance</button>
        <button class="btn btn-danger" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
</section>
