<div class="content-header">
  <h1>Mark Attendance <small>{{vm.course.name}}</small></h1>
</div>
<section class="content body">
  <div class="row">
    <form name="vm.form.attendanceForm" novalidate>
      <fieldset>
        <div class="col-md-4">
          <div class="form-group" show-errors>
            <label class="control-label" for="date">Date</label>
            <input name="date" type="date" ng-model="vm.date" id="date" class="form-control" placeholder="Date" required>
            <div ng-messages="vm.form.attendanceForm.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Date is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div>
                <button class="btn btn-primary" ng-click="vm.fetchAttendances()">Fetch</button>
            </div>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div ng-show="vm.isLoading || vm.attendances.length" class="box box-solid">
    <div class="box-body">
      <div ng-show="vm.isLoading" class="loader-container">
        <div class="loader">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
      <table ng-show="vm.attendances.length" class="table table-bordered">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Register Number</th>
            <th width="100px">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="attendance in vm.attendances">
              <td>{{ attendance.student.displayName }}</td>
              <td>{{ attendance.student.metaData.regno }}</td>
              <td><toggle ng-model="attendance.status"></toggle></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button ng-show="vm.attendances.length" class="btn btn-primary btn-lg" ng-click="vm.saveAttendance()">Save</button>
</section>
