<div class="content-header">
  <h1>Attendance Report <small>{{vm.course.name}}</small></h1>
</div>
<section class="content body">
  <div class="row">
    <form name="vm.form.attendanceForm" novalidate>
      <fieldset>
        <div class="col-md-4">
          <div class="form-group" show-errors>
            <label class="control-label" for="fromDate">From</label>
            <input name="fromDate" type="date" ng-model="vm.fromDate" class="form-control" placeholder="Date" required>
            <div ng-messages="vm.form.attendanceForm.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">From Date is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" show-errors>
            <label class="control-label" for="toDate">To</label>
            <input name="toDate" type="date" ng-model="vm.toDate" class="form-control" placeholder="Date" required>
            <div ng-messages="vm.form.attendanceForm.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">To Date is required.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div>
                <button class="btn btn-primary" ng-click="vm.fetchAttendances()">Fetch</button>
            </div>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div ng-show="vm.isLoading || vm.attendances.length" class="box box-solid">
    <div class="box-body">
      <div ng-show="vm.isLoading" class="loader-container">
        <div class="loader">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
      <table ng-show="vm.attendances.length" class="table table-bordered" style="overflow-x: auto">
        <thead>
          <tr>
            <th>Student Name</th>
            <th ng-repeat="date in vm.datesBetween">
              {{ date | date }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in vm.students">
              <td>{{ student.metaData.regno }}</td>
              <td ng-repeat="date in vm.datesBetween">
                {{ vm.reportRecords | presentstatus: student:date }}
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
