<div ng-include="'/modules/core/client/views/featured.client.view.html'" class="featured-content"></div>
<div class="jumbotron text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <img alt="MEAN.JS" class="img-responsive text-center" src="/dist/img/sliders/1.jpg" />
    </div>
  </div>
  <br>
  <div class="row">
    <p class="lead">
      Some section
    </p>
  </div>
  <div class="row">
    <p>
      <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
    </p>
  </div>
</div>
