.btn {
  background-image: none !important;
}

.loader-container {
  min-height: 80px;
}

.loader {
  margin: auto;
  padding: 20px;
  position: relative;
  width: 40px;
}
.loader .circle {
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-name: orbit;
  height: 38px;
  opacity: 0;
  position: absolute;
  transform: rotate(225deg);
  width: 38px;
}
.loader .circle:after {
  background: #111;
  border-radius: 5px;
  content: '';
  height: 5px;
  position: absolute;
  width: 5px;
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
@keyframes orbit {
  0% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: rotate(225deg);
  }
  7% {
    animation-timing-function: linear;
    transform: rotate(345deg);
  }
  30% {
    animation-timing-function: ease-in-out;
    transform: rotate(455deg);
  }
  39% {
    animation-timing-function: linear;
    transform: rotate(690deg);
  }
  70% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: rotate(815deg);
  }
  75% {
    animation-timing-function: ease-out;
    transform: rotate(945deg);
  }
  76% {
    opacity: 0;
    transform: rotate(945deg);
  }
  100% {
    opacity: 0;
    transform: rotate(945deg);
  }
}


/*.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}*/
